.search-bar {
    margin: 20px 0px 20px 0px;
}

.glyphicon {
    top: 0 !important
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

td:first-of-type {
    height: 180px;
    width: 200px;
}

